# Episoden

## Übersicht

- Episoden: {{ total_episodes }}
- Tipps: {{ total_guesses }}
- Verteilte Punkte: {{ total_score }}

!!! warning "Wertung von Unentschieden"

    Unentschieden wurden bisher unterschiedlich gewertet:

    - Episode 15: Beide bekommen einen Punkt.
    - Episode 25: Beide bekommen einen Punkt.
    - Episode 41: Florentin hat die Senfkarte gesetzt. Niemand bekommt einen Punkt.
    - Episode 51: Lars hat die Senfkarte gesetzt. Niemand bekommt einen Punkt.

    In dieser Auswertung bekommt niemand einen Punkt bei einem Unentschieden.
    Deshalb gibt es Abweichungen zu [Pufopedia](https://pufopedia.info/wiki/Pfiffige_Ziffern#Staffel_1) beim finalen Punktestand der Episoden 15 und 25.

## Schätzungen

Wann waren Lars und Florentin richtig fleißig?

![guesses_per_episode](img/guesses_per_episode.png)

## Punkte

![points_per_episode](img/points_per_episode.png)
