# RBTV Pfiffige Ziffern Stats

Datensammlung und Visualisierungen für die Show Pfiffige Ziffern auf Rocketbeans TV.

## Datenstand

- Episode: {{ last_episode.index }}
- Datum: {{ last_episode.release_date }}
- Link: {{ "<https://www.youtube.com/watch?v=" + last_episode.youtube_id + ">"}}

## Links

- Show: <https://rocketbeans.tv/mediathek/show/315/Pfiffige-Ziffern>
- Statistiken für Verflixxte Klixx:
  - <https://klixx.allendorf.me/>
  - <https://github.com/fabianallendorf/klixx-data>
- Wiki:
  - <https://pufopedia.info/wiki/Pfiffige_Ziffern>
  - <https://bohnen.wiki/index.php/Pfiffige_Ziffern>
- Pfiffige Ziffern Browser-Plugin: <https://github.com/DoomDesign/pfiffige-ziffern-plugin>

## Entwicklung

Die gesamten Daten inkl. dieser Webseite sind unter <https://github.com/marph91/rbtv-pfiffige-ziffern-stats> verfügbar. Dort gibt es weitere Infos zur Entwicklung.
